<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>10</integer>
	<key>WSL</key>
	<dict>
		<key>integrations</key>
		<dict/>
	</dict>
	<key>application</key>
	<dict>
		<key>adminAccess</key>
		<true/>
		<key>autoStart</key>
		<true/>
		<key>debug</key>
		<false/>
		<key>hideNotificationIcon</key>
		<false/>
		<key>pathManagementStrategy</key>
		<string>manual</string>
		<key>startInBackground</key>
		<true/>
		<key>telemetry</key>
		<dict>
			<key>enabled</key>
			<true/>
		</dict>
		<key>updater</key>
		<dict>
			<key>enabled</key>
			<true/>
		</dict>
		<key>window</key>
		<dict>
			<key>quitOnClose</key>
			<false/>
		</dict>
	</dict>
	<key>containerEngine</key>
	<dict>
		<key>allowedImages</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>patterns</key>
			<array/>
		</dict>
		<key>name</key>
		<string>moby</string>
	</dict>
	<key>diagnostics</key>
	<dict>
		<key>mutedChecks</key>
		<dict/>
		<key>showMuted</key>
		<false/>
	</dict>
	<key>experimental</key>
	<dict>
		<key>virtualMachine</key>
		<dict>
			<key>mount</key>
			<dict>
				<key>9p</key>
				<dict>
					<key>cacheMode</key>
					<string>mmap</string>
					<key>msizeInKB</key>
					<integer>128</integer>
					<key>protocolVersion</key>
					<string>9p2000.L</string>
					<key>securityModel</key>
					<string>none</string>
				</dict>
				<key>type</key>
				<string>reverse-sshfs</string>
			</dict>
			<key>networkingTunnel</key>
			<false/>
			<key>socketVMNet</key>
			<false/>
			<key>type</key>
			<string>qemu</string>
			<key>useRosetta</key>
			<false/>
		</dict>
	</dict>
	<key>images</key>
	<dict>
		<key>namespace</key>
		<string>k8s.io</string>
		<key>showAll</key>
		<true/>
	</dict>
	<key>kubernetes</key>
	<dict>
		<key>enabled</key>
		<false/>
		<key>ingress</key>
		<dict>
			<key>localhostOnly</key>
			<false/>
		</dict>
		<key>options</key>
		<dict>
			<key>flannel</key>
			<true/>
			<key>traefik</key>
			<true/>
		</dict>
		<key>port</key>
		<integer>6443</integer>
	</dict>
	<key>portForwarding</key>
	<dict>
		<key>includeKubernetesServices</key>
		<false/>
	</dict>
	<key>virtualMachine</key>
	<dict>
		<key>hostResolver</key>
		<true/>
		<key>memoryInGB</key>
		<integer>6</integer>
		<key>numberCPUs</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
