<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.includedhealth.agent-updater</string>
    <key>Program</key>
    <string>$IH_CORE_LIB_DIR/core/agent-updater/autoupdate/ih_agent_updater</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>IH_CORE_LIB_DIR</key>
        <string>$IH_CORE_LIB_DIR</string>
        <key>PATH</key>
        <string>$HOME/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/ih_agent_updater.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/ih_agent_updater.stderr</string>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>3600</integer>
</dict>
</plist>
